body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  margin: 0;
  background: #f1f1f1;
}

h1 {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

section {
  background: white;
}

.main-header {
  min-height: 56px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.main-navigation {
  margin: 0 auto;
  height: 56px;
}

.main-header .container {
  position: relative;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  background: white;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
  letter-spacing: normal;
  font-size: 14px;
  height: 56px;
  vertical-align: top;
  text-align: center;
}

.main-navigation li:nth-child(2) {
  margin-right: 20%;
}

.header-logo {
  position: absolute;
  left: 531px;
  z-index: 20;
}

.main-navigation a {
  display: inline-block;
  line-height: 56px;
  margin: 0 auto;
}

.main-navigation a:hover {
  color: #9ac2db;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.main-navigation a.active {
  color: #766357;
}

.main-navigation a.active:hover {
  color: #604e43;
}

.main-navigation a.active:active {
  color: #d6d0cc;
}

.main-footer .container {
  height: 120px;
  font-size: 0;
}

.main-footer section {
  display: inline-block;
  width: 400px;
  font-size: 21px;
  min-height: 120px;
  vertical-align: top;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
}

.catalog-footer section {
  background: white;
}

.tag strong {
  line-height: 120px;
  vertical-align: middle;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  font-size: 0;
  vertical-align: middle;
  text-decoration: none;
  background-color: #81b3d2;
  margin-top: 36px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn-tw {
  background-image: url("../img/twitter.png");
}

.social-btn-tw:active {
  background-image: url("../img/twitter_down.png");
}

.social-btn-fb {
  background-image: url("../img/facebook.png");
}

.social-btn-fb:active {
  background-image: url("../img/facebook_down.png");
}

.social-btn-yt {
  background-image: url("../img/youtube.png");
}

.social-btn-yt:active {
  background-image: url("../img/youtube_down.png");
}

.common-copyright {
  line-height: 120px;
  vertical-align: middle;
}

.common-copyright span {
  font-size: 14px;
}

.common-copyright .btn {
  display: inline-block;
  font-size: 0;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  background-image: url("../img/htmlacademy.png");
}

.common-copyright .btn:hover {
  background-image: url("../img/htmlacademy_hover.png");
}

.common-copyright .btn:active {
  background-image: url("../img/htmlacademy_active.png");
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input {
  outline: none;
}

.intro {
  background-image: url("../img/1.jpg");
  background-position: 0 -55px;
  padding-top: 76px;
  height: 432px;
}

.intro::after {
  content: "";
  display: block;
  background: url("../img/Shape_1_copy_3.png");
  height: 57px;
  position: absolute;
  width: 1200px;
  top: 507px;
}

.five-reasons {
  padding-top: 42px;
}

.index-logo {
  text-align: center;
}

.five-reasons>p {
  margin-top: 33px;
  margin-bottom: 55px;
}

.five-reasons h2, .five-reasons p {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.007em;
}

.five-reasons h2 {
  width: 450px;
  text-align: center;
}

.five-reasons p {
  text-align: center;
  font-size: 14px;
}

.reason {
  font-size: 0;
  min-height: 256px;
  background-color: #81b3d2;
}

.promo-block, .reason img {
  display: inline-block;
  vertical-align: top;
}

.promo-block {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  line-height: 21px;
}

.promo-block b {
  display: block;
  font-size: 21px;
  text-align: center;
  width: 151px;
  margin: 55px auto 0 auto;
}

.promo-block span {
  margin-top: 25px;
  display: block;
  font-size: 14px;
  text-align: center;
}

.promo-block p {
  font-size: 14px;
  width: 307px;
  margin-top: 20px;
}

.reason .promo-block {
  color: white;
}

.reason img {
  width: 800px;
}

.first-features {
  min-height: 330px;
  font-size: 0;
}

.features-item {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  min-height: 330px;
}

.features-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 57px auto 28px auto;
}

.features-item:nth-child(1)::before {
  background-image: url("../img/7.png");
}

.features-item:nth-child(2)::before {
  background-image: url("../img/8.png");
}

.features-item:nth-child(3)::before {
  background-image: url("../img/6.png");
}

.features-item b {
  font-size: 21px;
  display: block;
  width: 110px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.features-item p {
  font-size: 14px;
  display: block;
  width: 300px;
  margin-top: 22px;
  line-height: 21px;
}

.features-second {
  font-size: 0;
  min-height: 256px;
  background-color: #eeeeee;
}

.features-second b {
  margin-top: 48px;
}

.features-second p {
  width: 270px;
}

.choosing {
  height: 240px;
  padding-top: 50px;
  position: relative;
}

.choosing>b {
  display: block;
  font-size: 30px;
  text-align: center;
  margin: 0 auto 0 auto;
}

.choosing p {
  text-align: center;
  width: 500px;
  margin: 25px auto 0 auto;
  font-size: 14px;
  line-height: 24px;
}

.container-form {
  position: absolute;
  left: 316px;
  top: 205px;
}

.header-form {
  background-color: #766357;
  width: 568px;
  height: 86px;
}

.header-form b {
  font-size: 21px;
  color: white;
  line-height: 86px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  text-align: center;
}

.container-form .former {
  display: block;
  background: white;
  min-height: 395px;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.former form {
  padding-top: 55px;
  padding-left: 55px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.former input {
  height: 37px;
  background-color: #f2f2f2;
  border: none;
  font: inherit;
}

.former input:hover {
  background: #ebebeb;
}

.date-in, .date-out {
  position: relative;
}

.calendar {
  position: absolute;
  width: 37px;
  height: 37px;
  background: no-repeat url("../img/calendar.png") center;
  top: 0;
  right: 55px;
  cursor: pointer;
}

.calendar:hover {
  background-image: url("../img/calendar_hover.png");
}

.calendar:active {
  background-image: url("../img/calendar_active.png")
}

.date-in {
  margin-bottom: 29px;
}

.date-in input {
  margin-left: 15px;
  width: 330px;
  padding-left: 16px;
}

.date-out {
  margin-bottom: 30px;
}

.date-out input {
  margin-left: 13px;
  width: 330px;
  padding-left: 15px;
}

.btn-up, .btn-down {
  vertical-align: bottom;
}

.btn-down {
  display: inline-block;
  width: 37px;
  height: 37px;
  border: none;
  line-height: 38px;
  cursor: pointer;
  background: #f2f2f2 no-repeat url("../img/minus.png");
  background-position: center;
}

.btn-down:hover {
  background-image: url("../img/minus_hover.png");
}

.btn-down:active {
  background-image: url("../img/minus_down.png");
}

.btn-up {
  display: inline-block;
  width: 37px;
  height: 37px;
  line-height: 38px;
  right: 0px;
  top: 1px;
  cursor: pointer;
  border: none;
  background: #f2f2f2 no-repeat url("../img/plus.png");
  background-position: center;
}

.btn-up:hover {
  background-image: url("../img/plus_hover.png");
}

.btn-up:active {
  background-image: url("../img/plus_down.png");
}

.children {
  margin-left: 50px;
}

.children label {
  margin-right: 20px;
}

.quanity input {
  width: 40px;
  text-align: center;
  padding: 0;
  margin: 0 -4px;
}

.growen-ups label {
  margin-right: 35px;
}

.quanity {
  display: inline-block;
  margin-bottom: 54px;
}

.quanity input[type=number]::-webkit-inner-spin-button, .quanity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.find {
  display: block;
  width: 458px;
  height: 58px;
  font-family: inherit;
  text-transform: inherit;
  font-weight: inherit;
  font-size: 21px;
  color: white;
  background: #81b3d2;
  border: none;
  cursor: pointer;
}

.find:hover {
  background-color: #669ec0;
}

.find:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map {
  margin-bottom: -120px;
}

.former input:focus {
  background: none;
  outline: 2px solid #e5e5e5;
}

.searching {
  min-height: 176px;
  background-image: url("../img/catalog/filter_background.jpg");
  background-color: #81b3d2;
  background-position: 0 -55px;
  color: white;
  padding: 12px 73px 30px 73px;
}

.inside-form>div {
  position: relative;
}

.settings h2, .settings label {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox:not(checked)+label {
  position: relative;
}

.settings label {
  cursor: pointer;
  padding-left: 38px;
  font-size: 14px;
}

.checkbox:not(checked)+label::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  left: -1px;
  background: no-repeat url("../img/catalog/not_checked.png");
}

.checkbox:checked+label::after {
  background: no-repeat url("../img/catalog/checked.png");
}

.checkbox:not(checked):disabled+label, .checkbox:not(checked):disabled+label::after {
  opacity: 0.5;
}

.checkbox:checked:disabled+label, .checkbox:checked:disabled+label::after {
  opacity: 0.5;
}

.infrastructure, .type-of-house {
  float: left;
  width: 255px;
}

.infrastructure h2, .type-of-house h2 {
  margin-bottom: 23px;
}

.infrastructure div, .type-of-house div {
  margin-bottom: 27px;
}

.infrastructure div:last-child, .type-of-house div:last-child {
  margin: 0;
}

.infrastructure {}

.type-of-house {}

.filter-range {
  width: 315px;
  color: #ffffff;
  float: right;
  margin-top: 15px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-left: -10px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 0 0 85px;
  padding: 6px 32px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font-family: inherit;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.header-of-searching {
  min-height: 26px;
  padding: 30px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.header-of-searching b, .grading {
  float: left;
}

.up-down {
  float: right;
  margin-top: 3px;
}

.up, .down {
  background-image: url("../img/up.png");
  width: 11px;
  height: 10px;
  display: inline-block;
}

.down {
  transform: rotate(180deg);
  margin-left: 7px;
}

.up-down .active {
  background-image: url("../img/up_active.png");
}

.up-down .active:hover {
  background-image: url("../img/up_active.png");
}

.up:hover, .down:hover {
  background-image: url("../img/up_hover.png");
}

.up:active, .down:active {
  background-image: url("../img/up_active.png");
}

.header-of-searching b {
  font-size: 21px;
  margin-right: 45px;
}

.grading {
  font-size: 12px;
  margin-top: 7px;
}

.grading span {
  margin-right: 40px;
}

.grading a {
  margin-right: 30px;
}

.option {
  border-bottom: 0.1em dotted #81b3d2;
  color: #b1b1b1;
  font-weight: normal;
}

.grading a.active {
  color: #81b3d2;
  border: none;
}

.grading a:hover {
  color: #81b3d2;
}

.grading a:active {
  color: black;
  border: none;
}

.result {
  min-height: 100px;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 73px;
}

.result img {
  margin-top: 5px;
}

.result h2 {
  margin: 0;
}

.information span {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  width: 110px;
}

.btns {
  margin-top: 15px;
}

.information .btn {
  display: inline-block;
  text-align: center;
  height: 27px;
  vertical-align: middle;
  line-height: 27px;
  color: white;
  font-size: 14px;
}

.more-info {
  width: 110px;
  background: #81b3d2;
}

.more-info:hover {
  background: #669ec0;
}

.more-info:active {
  background: #5496bd;
  color: #88b6d1;
}

.book {
  width: 142px;
  background: #766357;
}

.book:hover {
  background: #604e43;
}

.book:active {
  background: #503e33;
  color: #857871;
}

.result>img, .information {
  float: left;
}

.information {
  margin-left: 30px;
}

.rating {
  float: right;
}

.rating span {
  display: inline-block;
  width: 19px;
  height: 17px;
  background-image: url("../img/catalog/stars.png");
  margin-top: 3px;
}

.stars {
  text-align: right;
  margin-bottom: 45px;
}

.mark {
  width: 110px;
  line-height: 27px;
  display: block;
  background: #f2f2f2;
  text-align: center;
  font-size: 14px;
  color: #666666
}
