.intro {
background-image: url('../img/1.jpg');
background-position: 0 -55px;
padding-top: 76px;
height: 432px;
}

.intro::after {
 content: "";
 display: block;
 background: url("../img/Shape_1_copy_3.png");
 height: 57px;
 position: absolute;
 width: 1200px;
 top: 507px;
}

.five-reasons {
	padding-top: 42px;
}

.index-logo {
  text-align: center;
}

.five-reasons > p {
	margin-top: 33px;
	margin-bottom: 55px;
}

.five-reasons h2,
.five-reasons p {
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 0.007em;
}

.five-reasons h2 {
	width: 450px;
	text-align: center;
}

.five-reasons p {
	text-align: center;
	font-size: 14px;
}

.reason {
	font-size: 0;
	min-height: 256px;
	background-color: #81b3d2;
}

.promo-block, .reason img {
	display: inline-block;
	vertical-align: top;
}

.promo-block {
	display: inline-block;
	width: 400px;
	vertical-align: top;
	line-height: 21px;
}

.promo-block b {
	display: block;
	font-size: 21px;
	text-align: center;
	width: 151px;
	margin: 55px auto 0 auto;
	
}

.promo-block span {
	margin-top: 25px;
	display: block;
	font-size: 14px;
	text-align: center;
}

.promo-block p {
	font-size: 14px;
	width: 307px;
	margin-top: 20px;
   }

.reason .promo-block {
	color: white;
}

.reason img {
	width: 800px;
}

.first-features {
	min-height: 330px;
	font-size: 0;
}
.features-item {
	display: inline-block;
	width: 400px;
	vertical-align: top;
	min-height: 330px;
}

.features-item::before {
	content: "";
	display: block;
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
	background-position: bottom;
	margin: 57px auto 28px auto;
}

.features-item:nth-child(1)::before {
	background-image: url("../img/7.png");
}

.features-item:nth-child(2)::before {
	background-image: url("../img/8.png");
}

.features-item:nth-child(3)::before {
	background-image: url("../img/6.png");
}

.features-item b {
	font-size: 21px;
	display: block;
	width: 110px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.features-item p {
	font-size: 14px;
	display: block;
	width: 300px;
	margin-top: 22px;
	line-height: 21px;
}

.features-second {
	font-size: 0;
	min-height: 256px;
	background-color: #eeeeee;
}

.features-second b {
	margin-top: 48px;	
}

.features-second p {
	width: 270px;	
}

.choosing {
	height: 240px;
	padding-top: 50px;
	position: relative;
}

.choosing > b {
	display: block;
	font-size: 30px;
	text-align: center;
	margin: 0 auto 0 auto;
}

.choosing p {
	text-align: center;
	width: 500px;
	margin: 25px auto 0 auto;
	font-size: 14px;
	line-height: 24px;
}

.container-form {
	position: absolute;
	left: 316px;
	top: 205px;
}

.header-form {
	background-color: #766357;
	width: 568px;
	height: 86px;
}

.header-form b {
	font-size: 21px;
	color: white;
	line-height: 86px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	text-align: center;
}

.container-form .former {
	display: block;
	background: white;
	min-height: 395px;
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.former form {
	padding-top: 55px;
	padding-left: 55px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.02em;
}

.former input {
	height: 37px;
	background-color: #f2f2f2;
	border: none;
	font: inherit;
}

.former input:hover {
	background: #ebebeb;
}

.date-in, .date-out {
	position: relative;
}
.calendar {
	position: absolute;
	width: 37px;
	height: 37px;
	background: no-repeat url("../img/calendar.png") center;
	top: 0;
	right: 55px;
	cursor: pointer;
}

.calendar:hover {
	background-image:  url("../img/calendar_hover.png");
}

.calendar:active {
	background-image: url("../img/calendar_active.png")
}

.date-in {
	margin-bottom: 29px;
}
.date-in input {
	margin-left: 15px;
	width: 330px;
	padding-left: 16px;
}

.date-out {
	margin-bottom: 30px;
}

.date-out input {
	margin-left: 13px;
	width: 330px;
	padding-left: 15px;
}


.btn-up, .btn-down {
	vertical-align: bottom;
}

.btn-down {
	display: inline-block;
	width: 37px;
	height: 37px;
	border: none;
	line-height: 38px;
	cursor: pointer;
	background: #f2f2f2 no-repeat url("../img/minus.png");
	background-position: center;
}

.btn-down:hover {
	background-image: url("../img/minus_hover.png");
}

.btn-down:active {
	background-image: url("../img/minus_down.png");
}

.btn-up {
	display: inline-block;
	width: 37px;
	height: 37px;
	line-height: 38px;
	right: 0px;
	top: 1px;
	cursor: pointer;
	border: none;
	background: #f2f2f2 no-repeat url("../img/plus.png");
	background-position: center;
}

.btn-up:hover {
	background-image: url("../img/plus_hover.png");
}

.btn-up:active {
	background-image: url("../img/plus_down.png");
}

.children {
	margin-left: 50px;
}

.children label {
	margin-right: 20px;
	
}

.quanity input {
	width: 40px;
	text-align: center;
	padding: 0;
	margin: 0 -4px;
}

.growen-ups label {
	margin-right: 35px;
}
.quanity {
	display: inline-block;
	margin-bottom: 54px;
}

.quanity input[type=number]::-webkit-inner-spin-button, .quanity input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
appearance: none;
margin: 0;
}

.find {
	display: block;
	width: 458px;
	height:58px;
	font-family: inherit;
	text-transform: inherit;
	font-weight: inherit;
	font-size: 21px;
	color: white;
	background: #81b3d2;
	border: none;
	cursor: pointer;
}

.find:hover {
	background-color: #669ec0;
}

.find:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.map {
	margin-bottom: -120px;
}

.former input:focus {
	background: none;
	outline: 2px solid #e5e5e5;
}

