body {
  font-family: "PT Sans";
  text-transform: uppercase;
  margin: 0;
  background: #f1f1f1;
}

h1 {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

section {
	background: white;
}

.main-header {
  min-height: 56px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.main-navigation {
  margin: 0 auto;
  height: 56px;
  position: relative;
 }

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  background: white;
}

.main-navigation ul li {
  display: inline-block;
  width: 20%;
  letter-spacing: normal;
  font-size: 14px;
  height: 56px;
  vertical-align: top;
  text-align: center;
}

.header-logo {
	position:absolute;
	left: 531px;
}

.main-navigation a {
	display: inline-block;
	line-height: 56px;
	margin: 0 auto;
}

.main-navigation a:hover {
	color: #9ac2db;
}

.main-navigation a:active {
	color: #b2b2b2;
}

.main-navigation a.active {
	color: #766357;
}

.main-navigation a.active:hover {
	color: #604e43;
}

.main-navigation a.active:active {
	color: #d6d0cc;
}

.main-footer .container {
	height: 120px;
	font-size: 0;
}
.main-footer section {
	display: inline-block;
	width: 400px;
	font-size: 21px;
	min-height: 120px;
	vertical-align: top;
	text-align: center;
	background: rgba(255,255,255,0.9);
}

.tag strong {
	line-height: 120px;
	vertical-align: middle;
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	font-size: 0;
	vertical-align: middle;
	text-decoration: none;
	background-color: #81b3d2;
	margin-top: 36px;
	background-repeat: no-repeat;
	background-position: center;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn-tw {
	background-image: url("../img/twitter.png");
}

.social-btn-tw:active {
	background-image: url("../img/twitter_down.png");
}


.social-btn-fb {
	background-image: url("../img/facebook.png");
}

.social-btn-fb:active {
	background-image: url("../img/facebook_down.png");
}

.social-btn-yt {
	background-image: url("../img/youtube.png");
}

.social-btn-yt:active {
	background-image: url("../img/youtube_down.png");
}
.common-copyright {
	line-height: 120px;
	vertical-align: middle;
}

.common-copyright span{
	font-size: 14px;
}

.common-copyright .btn {
	display: inline-block;
	font-size: 0;
	width: 113px;
	height: 39px;
	vertical-align: middle;
	background-image: url("../img/htmlacademy.png");
}

.common-copyright .btn:hover {
	background-image: url("../img/htmlacademy_hover.png");
}

.common-copyright .btn:active {
	background-image: url("../img/htmlacademy_active.png");
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input {
outline: none;
}