.searching {
	min-height: 176px;
	background-image: url("../img/catalog/filter_background.jpg");
	background-color: #81b3d2;
	background-position: 0 -55px;
	color: white;
	padding: 12px 73px 30px 73px; 
}

.inside-form > div {
	position: relative;
}

.settings h2, .settings label {
	font-size: 16px;
	letter-spacing: 0.02em;
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox:not(checked){
	position: absolute;
    opacity: 0;	
}

.checkbox:not(checked) + label {
  position: relative; 
}

.settings label {
	cursor: pointer;
	padding-left: 38px;
	font-size: 14px;
}

.checkbox:not(checked) + label::after {
 	content: "";
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -2px;
	left: -1px;
  	background: no-repeat url("../img/catalog/not_checked.png");
}

.checkbox:checked+label::after {
	background: no-repeat url("../img/catalog/checked.png");
}

.infrastructure, .type-of-house {
	float: left;
	width: 255px;
}

.infrastructure h2, .type-of-house h2 {
	margin-bottom: 23px;
}

.infrastructure div, .type-of-house div {
	margin-bottom: 27px;
}

.infrastructure div:last-child, .type-of-house div:last-child {
	margin: 0;
}

.infrastructure {
}

.type-of-house {
}

.cost-day {
	float: right;
}

.cost-day .btn {
	width: 135px;
	background: transparent;
	border: 2px solid white;
	height: 35px;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 2px;
	cursor: pointer;
}

.cost-day .btn:hover {
	background-color: white;
	color: black;
}

.header-of-searching {
	min-height: 26px;
	padding: 30px 73px;
	border-bottom: 1px solid #e5e5e5;
}

.header-of-searching b, .grading {
	float: left;
}

.up-down {
	float: right;
}

.up, .down {
  width: 0;
  height: 0;
  border: 7px solid transparent; 
  display: inline-block;
}

.up {
  border-bottom-color: #cccccc;  
  border-top: 0;
  margin-right: 7px;
}

.down {
  border-bottom-color: #cccccc;  
  border-top: 0;
  transform: rotate(180deg)
}

.up-down a.active {
	border-bottom-color: #81b3d2;
}

.up-down a:hover {
	border-bottom-color: black;
}

.up-down a:active {
	border-bottom-color: #81b3d2;
}

.header-of-searching b {
	font-size: 21px;
	margin-right: 45px;
}

.grading {
	font-size: 12px;
	margin-top: 7px;
}

.grading span {
	margin-right: 40px;
}

.grading a {
	margin-right: 30px;
}

.option {
	border-bottom: 0.1em dotted #81b3d2;
	color: #b1b1b1;
}

.grading a.active {
	color: #81b3d2;
	border: none;
}

.grading a:hover {
	color: #81b3d2;
}

.grading a:active {
	color: black;
	border: none;
}

.result {
	min-height: 100px;
	border-bottom: 1px solid #e5e5e5;
	padding: 25px 73px; 
}

.result img {
	margin-top: 5px;
}

.result h2 {
	margin: 0;
}

.information span {
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
	width: 110px;
}

.btns {
	margin-top: 15px;
}

.information .btn {
	display: inline-block;
	text-align: center;
	height: 27px;
	vertical-align: middle;
	line-height: 27px;
	color: white;
	font-size: 14px;
}


.more-info {
	width: 110px;
	background: #81b3d2;	
}

.more-info:hover {
	background: #669ec0;
}

.more-info:active {
	background: #5496bd;
	color: #88b6d1;
}

.book {
	width: 142px;
	background: #766357;
}

.book:hover {
	background: #604e43;
}

.book:active {
	background: #503e33;
	color: #857871;
}

.result>img, .information {
	float: left;
}

.information {
	margin-left: 30px;
}
.rating {
	float: right;
}
.rating span {
	width: 110px;
	line-height: 27px;
	display: block;
	background: #f2f2f2;
	text-align: center;
}