body {
  font-family: "PT Sans";
  text-transform: uppercase;
}

h1 {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
