.main-header {
  min-height: 56px;
}

.container {
  min-height: 56px;
  width: 1200px;
  padding: 0px 40px;
  margin: 0 auto;
}

.main-navigation {
  min-height: 70px;
  margin: 0 auto;
}

.main-navigation ul li {
  display: inline-block;
}

.main-navigation ul {
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.index-logo {
  width: 458px;
  height: 352px;
  margin-right: auto;
  margin-left: auto;
}

.choosing img {
  display: none;
}

.five-reasons h2,
.five-reasons p {
	margin-left: auto;
	margin-right: auto;
}

.five-reasons h2 {
	width: 440px;
	text-align: center;
}

.five-reasons p {
	text-align: center;
	font-size: 14px;
}

.reason {
	height: 256px;
}

.promo-block {
	float: left;
	width: 400px;
}

.reason img {
	float: left;
}

.first-features {
	height: 330px;
}
.features-item {
	float: left;
	width: 33%;
}
.features-second{
	height: 256px;
}